$black: #000;
$white: #fff;
$purple: #1f090e;
$gold: #bf9037;
$goldHover: #ffc65b;
$grey: #7d7d7d;
$regular: "PTSans-Caption", Verdana, sans-serif;
$bold: "PTSans-CaptionBold", Verdana, sans-serif;
$centered: 0 auto;


