@font-face {
  font-family: PTSans-Caption;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/PTSans-Caption.woff2") format("woff2"), url("../fonts/PTSans-Caption.woff") format("woff");
}
@font-face {
  font-family: PTSans-CaptionBold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/PTSans-CaptionBold.woff2") format("woff2"), url("../fonts/PTSans-CaptionBold.woff") format("woff");
}